<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Mastermind</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
  <link rel="stylesheet" href="./index.css">
</head>

<body>
  <section id="content">
    <header><h1>MasterMind</h1></header>
    <main>
      <button id="button_generate_secret">Reset</button>
      <ul id="results">
      </ul>
      <form id="guess_form" method="GET">
        <div id="guess_input">
          <span class="peg"  id="guess_input_1">1</span>
          <span class="peg"  id="guess_input_2">2</span>
          <span class="peg"  id="guess_input_3">3</span>
          <span class="peg"  id="guess_input_4">4</span>
        </div>
        <input type="submit" value="Check">
      </form>

    </main>
  </section>
  <noscript>This page contains webassembly and javascript content, please enable javascript in your browser.</noscript>
  <script id="template_grade" type="text/x-micro-template">
    <div class="grade">
      <div class="guess">
        <% guess.forEach(function(it) { %>
         <span class="peg" data-color="<%= it.color %>"><%= it.symbol %></span>
        <% }); %>
      </div>
      <div class="result">
        <% result.forEach(function(it) { %>
          <span class="result_peg" data-grade="<%= it.grade %>"><%= it.symbol %></span>
        <% }); %>
      </div>
    </div>
  </script>
  <script src="./bootstrap.js"></script>

</body>
</html>